<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменить книгу</title>
</head>
<body>
<div>
    <form action="/patchbook" method="post">
        <input type="hidden" name="bookid" th:value="${book.id}">
        <label for="bookname">Книга</label><input type="text" id="bookname" name="bookname" th:value="${book.name}"><br>
        <label for="authorid">Автор</label>
        <select id="authorid" name="authorid">
            <option th:each="author: ${authors}" value="Пушкин" th:value="${author.id}" th:text="${author.surname}"
                    th:selected="${author.id == book.author.id}">
                Александр Пушкин
            </option>
        </select><br>

        <label for="genreid">Жанр</label>
        <select id="genreid" name="genreid">
            <option th:each="genre: ${genres}" value="Сказка" th:value="${genre.id}" th:text="${genre.name}"
                    th:selected="${genre.id == book.genre.id}">Сказка
            </option>
        </select><br>

        <input type="submit" name="Изменить">
    </form>
</div>
</body>
</html>