<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить книгу</title>
</head>
<body>
<div>
    <form id="bookfields">
        <label for="bookname">Книга</label><input type="text" id="bookname" name="bookname"><br>
        <label for="author">Автор</label>
        <select id="author" name="authorid">
            <option th:each="author: ${authors}" value="Пушкин" th:value="${author.id}" th:text="${author.surname}">
                Александр Пушкин
            </option>
        </select><br>

        <label for="genre">Жанр</label>
        <select id="genre" name="genreid">
            <option th:each="genre: ${genres}" value="Сказка" th:value="${genre.id}" th:text="${genre.name}">Сказка
            </option>
        </select><br>

        <input type="button" value="Создать" onclick="sendRequest()">
    </form>
</div>

<script>

    function sendRequest() {
        const bookNameRef = document.getElementById("bookname");
        const authorRef = document.getElementById("author");
        const genreRef = document.getElementById("genre");

        const xhr = new XMLHttpRequest();
        const formData = new FormData();
        formData.append("name", bookNameRef.value);
        formData.append("genreid", genreRef.value);
        formData.append("authorid", authorRef.value);
        xhr.open('POST', '/api/book/');
        xhr.send(formData);
    }

</script>
</body>
</html>