<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменить книгу</title>
</head>
<body>
<div>
    <form id="bookfields">
        <input type="hidden" id="bookid" name="bookid" value="0" th:value="${book.id}">
        <label for="bookname">Книга</label><input type="text" id="bookname" name="bookname" th:value="${book.name}"><br>
        <label for="author">Автор</label>
        <select id="author" name="authorid">
            <option th:each="author: ${authors}" value="Пушкин" th:value="${author.id}" th:text="${author.surname}"
                    th:selected="${author.id == book.author.id}">
                Александр Пушкин
            </option>
        </select><br>

        <label for="genre">Жанр</label>
        <select id="genre" name="genreid">
            <option th:each="genre: ${genres}" value="Сказка" th:value="${genre.id}" th:text="${genre.name}"
                    th:selected="${genre.id == book.genre.id}">Сказка
            </option>
        </select><br>

        <input type="button" value="Отправить изменения" onclick="sendRequest()">
    </form>
</div>
<div>
    Добавить комментарий:
    <form method="post">
        <label for="commentText">Текст:</label><input type="text" id="commentText" name="text">
        <input type="button" onclick="addComment()" value="Добавить">
    </form>
</div>
<div>
    Все комментарии:
    <table border="1" id="commentsTable">
        <thead>

        </thead>
        <tbody>
            <tr th:each="comment: ${comments}">
                <td th:text="${comment.text}">Текст камента</td>
            </tr>
        </tbody>
    </table>
</div>

<script th:inline="javascript">

    function addComment() {
        const bookId = /*[[${book.id}]]*/0;
        const commentText = document.getElementById("commentText").value;
        const xhr = new XMLHttpRequest();
        xhr.onreadystatechange = () => {
            if (xhr.readyState === 4 && xhr.status === 200) {
                const json = JSON.parse(xhr.responseText);
                const commentsTable = document.getElementById("commentsTable");
                var newRow = commentsTable.insertRow(-1);
                var newCell = newRow.insertCell(0);
                var newText = document.createTextNode(json.text);
                newCell.appendChild(newText)

            }
        }
        const formData = new FormData();
        formData.append("text", commentText);
        xhr.open('POST', '/api/book/'+ bookId +'/comment');
        xhr.send(formData);
    }

    function sendRequest() {
        const bookNameRef = document.getElementById("bookname");
        const authorRef = document.getElementById("author");
        const genreRef = document.getElementById("genre");

        const bookId = /*[[${book.id}]]*/0;

        const xhr = new XMLHttpRequest();
        const formData = new FormData();
        formData.append("name", bookNameRef.value);
        formData.append("genreid", genreRef.value);
        formData.append("authorid", authorRef.value);
        xhr.open('PATCH', '/api/book/'+ bookId);
        xhr.send(formData);
    }

</script>
</body>
</html>