<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<div>
    <table class="booksTable">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<div>
    <a href="/addbook">Добавить книгу</a>

</div>
<script>
    $(function () {
        $.get('/api/book').done(function (booksTable) {
            booksTable.forEach(function (book) {
                $('tbody').append(`
                    <tr>
                        <td>${book.id}</td>
                        <td>${book.name}</td>
                        <td><a href="/editbook?id=${book.id}">Изменить</a></td>
                        <td><button value="button" onclick="onDelete(${book.id})">Удалить</button></td>
                    </tr>
                `)
            });
        })
    });

    function onDelete(bookid) {
        const xhr = new XMLHttpRequest();
        xhr.open('DELETE', '/api/book/'+ bookid);
        xhr.send();
    }
</script>
</body>
</html>